@font-face {
  font-family: Code;
  src: url("font/code-light.otf");
}
@font-face {
  font-family: Corbert;
  src: url("font/corbert-regular.otf");
}
@font-face {
  font-family: "Alfa Slab One";
  src: url("font/alfa-slab-one.ttf");
}
* { box-sizing:border-box}
body {
  background-color: #EFEFEF;
  font-family: Corbert;
  color: #28324E;
  margin: 0px;
}
h2 {
  font-family: Code;
  text-align: center;
  font-size: 300%;
  padding-top: 10px;
  padding-bottom: 10px;
}
a:link, a:visited {
  color: #3D8EB9;
  text-decoration: none;
}
a:hover {color: #f37934}
hr {
  border-style: solid;
  border-width: 0.1px;
  border-color: #D1D5D8;
  margin-left: 10px;
  margin-right: 10px;
}
header {
  text-align: center;
}
#selfie {
  max-width: 100%;
}
@media only screen and (min-width: 480px) {
  #selfie {content: url("pic/me-1200.jpg")}
}
@media only screen and (min-width: 600px) {
  #selfie {content: url("pic/me-1536.jpg")}
}
@media only screen and (min-width: 768px) {
  #selfie {content: url("pic/me-1800.jpg")}
}
@media only screen and (min-width: 900px) {
  #selfie {content: url("pic/me-2400.jpg")}
}
article {overflow: auto}
@media only screen and (min-width: 768px) {
  article {
    padding-top: 10px;
    padding-bottom: 60px;
  }
}
#me {text-align: center}
#me h2 {color: #3D8EB9}
#skills {
  margin: auto;
  text-align: center;
}

.skill {
  border: 1px solid;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .skill {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.strong {
  color: #41A85F;
  border-color: #41A85F;
}

.knowledgeable {
  color: #F37934;
  border-color: #F37934;
}

.skill .header {
  text-align: left;
  margin-top: -15px;
  background-color: #EFEFEF;
  padding-left: 10px;
  padding-right: 10px;
}

.strong .header {
  width: 105px;
}

.knowledgeable .header {
  width: 140px;
}

.strong svg {
  fill: #EFEFEF;
  stroke: #41A85F;
  width: 10px;
}

.knowledgeable svg {
  fill: #EFEFEF;
  stroke: #F37934;
  width: 10px;
}

#location {
  max-width: 30px;
  fill: #475577;
}
#location:hover {fill: #41A85F}
#keywords {
  color: #475577;
  opacity: 0.9;
  padding-top: 30px;
  padding-bottom: 30px;
}
#testing {font-size: 40px}
#qa {font-size: 30px}
#software {font-size: 25px}
#quality {font-size: 40px}
#developing {font-size: 20px}
#programming {font-size: 30px}
#web {font-size: 30px}
#automation {font-size: 20px}
#security {font-size: 15px}
#contacts {
  margin: auto;
  padding-top: 30px;
}
.social {
  width: 30px;
  fill: #475577;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 768px) {
  .social {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
#twitter:hover {fill: #54ACD2}
#blogger:hover {fill: #F37934}
#linkedin:hover {fill: #2969B0}
#gitlab:hover {fill: #FBA026}
#github:hover {fill: #41A85F}
#slideshare:hover {fill: #2C82C9}
#email:hover {fill: #9365B8}
#coding h2 {color: #00A885}
#coding #portfolio {
  margin: auto;
  text-align: center;
}
.project {
  max-width: 300px;
  background-color: white;
  box-shadow: 0px 0px 2px #D1D5D8;
  border-radius: 2px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}
.image {
  width: 300px;
  height: 180px;
  color: white;
  display: table-cell;
  vertical-align: middle;
  font-family: "Alfa Slab One";
  font-size: 40px;
}
#stringg {
  background-color: #9365B8;
  font-size: 50px;
}
#spand {
  background-color: #41A85F;
  font-size: 50px;
}
#jira {background-color: #3D8EB9}
#fisheye {
  background-color: #475577;
  text-align: left;
  padding-left: 30px;
}
#url {background-color: #FAC51C}
#textarea {background-color: #FBA026}
#scripts {
  background-color: black;
  color: #EFEFEF;
  font-family: monospace;
}
#profile {
  background-color: white;
  font-family: Code;
  font-size: 30px;
  color: #F37934;
}
.header {
  width: 300px;
  float: left;
  font-size: 70%;
  margin: 0;
}
.name {
  color: #00A885;
  float: left;
}
.technology {
  color: #9365B8;
  float: right;
}
.project p {
  color: #475577;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.repo {
  max-width: 30px;
  opacity: 0.7;
  margin-left: 20px;
  margin-right: 20px;
}
@media only screen and (min-width: 768px) {
  .repo {transition: opacity 0.2s ease-in}
}
.repo:hover {opacity: 1}
#blog h2 {color: #F37934}
#posts {
  margin: auto;
  text-align: center;
}
#post {
  max-width: 300px;
  background-color: white;
  margin: 5px;
  padding: 10px;
  box-shadow: 0px 0px 2px #D1D5D8;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
}
#error {color: #B8312F}
#date {
  font-size: 70%;
  color: #00A885;
  float: left;
}
#labels {
  font-size: 70%;
  color: #9365B8;
  float: right;
}
#title {
  text-align: left;
  clear: left;
}
#content {text-align: left}
#all {
  text-align: center;
  padding-top: 40px;
}
#all svg {vertical-align: middle}
#references h2 {color: #9365B8}
#references {
  margin: auto;
  text-align: center;
}
.reference {
  width: 90%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .reference {
    width: 40%;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.referrer {
  color: #41A85F;
  margin-bottom: 0;
}
.position {
  color: #475577;
  font-size: 70%;
  margin-top: 0;
}
#interests {
  margin: auto;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.video {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}
footer {
  background-color: #475577;
  color: #D1D5D8;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer p {margin: 3px}
footer a:link, footer a:visited {color: #54acd2}
footer a:hover {color: #f37934}
#top {visibility: hidden}
@media only screen and (min-width: 768px) {
  #top {
    visibility: visible;
    bottom: 110px;
    position: fixed;
    right: 40px;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 0.2s ease-in;
  }
}
#top:hover {opacity: 1}
#top a:link, #top a:visited {color: #28324E}
