@font-face {
  font-family: Alfa Slab One;
  src: url("../font/alfa-slab-one.ttf");
}

@font-face {
  font-family: Permian;
  src: url("../font/permian/PermianSansTypeface.otf");
}

@font-face {
  font-family: Permian Header;
  src: url("../font/permian/PermianSansTypeface.otf");
}

@font-face {
  font-family: Source Code Pro;
  src: url("../font/source-code-pro/WOFF2/OTF/SourceCodePro-ExtraLight.otf.woff2");
}

* {
  box-sizing:border-box;
}

body {
  background-color: #EFEFEF;
  font-family: Permian;
  color: #28324E;
  margin: 0px;
  font-size: 16px;
}

h2 {
  font-family: Permian Header;
  text-align: center;
  font-size: 300%;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:link, a:visited {
  color: #3D8EB9;
  text-decoration: none;
}

a:hover {
  color: #f37934;
}

hr {
  border-style: solid;
  border-width: 0.1px;
  border-color: #D1D5D8;
  margin-left: 10px;
  margin-right: 10px;
}

header {
  text-align: center;
}

#selfie {
  max-width: 100%;
}

article {
  overflow: auto;
}

@media only screen and (min-width: 768px) {
  article {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#me {
  text-align: center;
}

#me-header {
  color: #3D8EB9;
}

#skills {
  margin: auto;
  text-align: center;
}

.skill {
  border: 1px solid;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .skill {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.strong {
  color: #41A85F;
}

.knowledgeable {
  color: #F37934;
}

.skill-header {
  width: 300px;
  float: left;
  font-size: 70%;
  margin: 0;
}

.skill .skill-header {
  text-align: left;
  margin-top: -15px;
  background-color: #EFEFEF;
  padding-left: 10px;
  padding-right: 10px;
}

.strong .skill-header {
  width: 105px;
}

.knowledgeable .skill-header {
  width: 140px;
}

#location {
  max-width: 30px;
  fill: #475577;
}

#location:hover {
  fill: #41A85F;
}

#keywords {
  color: #475577;
  opacity: 0.9;
  padding-top: 30px;
  padding-bottom: 30px;
}

#testing {
  font-size: 40px;
}

#qa {
  font-size: 30px;
}

#software {
  font-size: 25px;
}

#quality {
  font-size: 40px;
}

#developing {
  font-size: 20px;
}

#programming {
  font-size: 30px;
}

#web {
  font-size: 30px;
}

#automation {
  font-size: 20px;
}

#security {
  font-size: 15px;
}

#contacts {
  margin: auto;
  padding-top: 30px;
}

.social {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  color: #475577;
}

@media only screen and (min-width: 768px) {
  .social {
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

#blogger:hover {
  color: #F37934;
}

#gitlab:hover {
  color: #FBA026;
}

#github:hover {
  color: #41A85F;
}

#slideshare:hover {
  color: #2C82C9;
}

#email:hover {
  color: #9365B8;
}

#coding-header {
  color: #00A885;
}

#portfolio {
  margin: auto;
  text-align: center;
}

.project {
  max-width: 300px;
  background-color: white;
  box-shadow: 0px 0px 2px #D1D5D8;
  border-radius: 2px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.image {
  width: 300px;
  height: 180px;
  color: white;
  display: table-cell;
  vertical-align: middle;
  font-family: Alfa Slab One;
  font-size: 40px;
}

#stringg {
  background-color: #9365B8;
  font-size: 50px;
}

#spand {
  background-color: #41A85F;
  font-size: 50px;
}

#jira {
  background-color: #3D8EB9;
}

#fisheye {
  background-color: #475577;
  text-align: left;
  padding-left: 30px;
}

#url {
  background-color: #FAC51C;
}

#textarea {
  background-color: #FBA026;
}

#scripts {
  background-color: black;
  color: #EFEFEF;
  font-family: Source Code Pro;
}

#version-updater {
  background-color: black;
  color: #EFEFEF;
  font-family: Source Code Pro;
  font-size: 25px;
}

#profile {
  background-color: white;
  font-family: Permian Header;
  font-size: 30px;
  color: #F37934;
}

#artha {
  background-color: rgb(28, 180, 183);
  color: rgb(252, 209, 54);
  font-family: Permian Header;
}

#book-blog {
  background-color: #FFC107;
  color: white;
  font-family: Permian Header;
}

.project-header {
  width: 300px;
  float: left;
  font-size: 70%;
  margin: 0;
}

.project-name {
  color: #00A885;
  float: left;
  padding-left: 10px;
}

.project-technology {
  color: #9365B8;
  float: right;
  padding-right: 10px;
}

.project-description {
  color: #475577;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.repo {
  opacity: 1;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .repo {
    transition: opacity 0.2s ease-in;
  }
}

.repo:hover {
  opacity: 1;
}

#public {
  margin: auto;
  text-align: center;
}

#public-header {
  color: #A38F84;
}

.talk {
  width: 90%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .talk {
    width: 40%;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.talk-header {
  color: #41A85F;
}

.talk-date {
  font-size: 70%;
  color: #9365B8;
}

.talk-feedback {
  margin-top: 20px;
  font-style: italic;
  font-size: 80%;
  margin-left: 20px;
}

.feedback-hr {
  margin-top: 40px;
}

#blog-header {
  color: #F37934;
}

#posts {
  margin: auto;
  text-align: center;
}

#post {
  max-width: 300px;
  background-color: white;
  margin: 5px;
  padding: 10px;
  box-shadow: 0px 0px 2px #D1D5D8;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
}

#error {
  color: #B8312F;
}

#date {
  font-size: 70%;
  color: #00A885;
  float: left;
}

#labels {
  font-size: 70%;
  color: #9365B8;
  float: right;
}

#title {
  text-align: left;
  clear: left;
}

#content {
  text-align: left;
}

.blog-all {
  text-align: center;
  padding-top: 40px;
}

#references-header {
  color: #9365B8;
}

#references {
  margin: auto;
  text-align: center;
}

.reference {
  width: 90%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .reference {
    width: 40%;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.fa-quote-left {
  opacity: 0.5;
}

.referrer {
  color: #41A85F;
  margin-bottom: 0;
}

.position {
  color: #475577;
  font-size: 70%;
  margin-top: 0;
}

#interests {
  margin: auto;
  text-align: center;
}

#interests-header {
  color: #FAC51C;
}

.video {
  width: 90%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.vimeo {
  width: 300px;
  height: 169px;
  border: 0;
}

@media only screen and (min-width: 768px) {
  .video {
    margin-left: 10px;
    margin-right: 10px;
    width: 500px;
  }

  .vimeo {
    width: 500px;
    height: 281px;
  }
}

footer {
  background-color: #475577;
  color: #D1D5D8;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-row {
  margin: 3px;
}

.footer-link:link, .footer-link:visited {
  color: #54acd2;
}

.footer-link:hover {
  color: #f37934;
}

#top {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  #top {
    visibility: visible;
    bottom: 110px;
    position: fixed;
    right: 40px;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 0.2s ease-in;
  }
}

#top:hover {
  opacity: 1;
}

#top-link:link, #top-link:visited {
  color: #28324E;
}
